* {
    box-sizing: border-box;
    font-family: "Noto Serif", "Impact", serif;
    }

.scroll {
    height: 600px;
    width: 1200px;
    border: solid;
    overflow: auto;
    background-color: rgb(220, 226, 230);
    border-color: rgb(155, 155, 228);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.inline {
    margin: -10px;
    font-weight: bolder;
    display: block;
    padding: 10px;
}

.text {
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: inset 0px 0px 5px black;
    border: 1px solid #000;
    border-radius: 30px;
    background: rgb(221, 171, 171);
    display: inline-block;
    }