body {
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 50vh;
    height: 100%;
}

.square {
    width: 200px;
    height: 200px;
    position: static;
    background-color: #40a856;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 150px;
    height: 10px;
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    bottom: 800px;
    transition: all 1s cubic-bezier(0.2, 0.8, 0.3, 0.7) 0s;
    /* opacity: 0; */
}


.success-message {
    font-size: 20px;
    opacity: 0;
    position: absolute;
}

.square:hover .progress-bar {
    opacity: 1;
    width: 100%;
    transition: width 3s;
}
















